.logo-container {
    z-index: -1;
    width: 730px;
    height: 900px;
    position: absolute;
    top: 228px;
    right: 25%;
    bottom: 0;
    left: auto;
    margin: auto;
    animation: bounceIn 3.5s 1s;

    
    img {
      width: 100%;
      height: auto;
      bottom: 0;
      transform: rotateZ(30deg) !important;
    }
}